{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="about-text">
        <h3>Our mission is to provide a curated selection of clothing and accessories that are both stylish and sustainable. 
            We believe in quality over quantity, and we carefully source each piece to ensure it meets our high standards. 
            Whether you’re looking for a statement dress or a classic pair of jeans, we’ve got you covered.</h5>
    </div>

    <img src=' {% static "img/home/about-page.jpg" %} ' alt="about">

{% endblock %}